@{
    ViewData["Title"] = "Index";
}
<div>
    <dl>
        <dt>
            Escuela: @Model.Nombre
        </dt>
        <address>
            <p>Direccion: @Model.Direccion</p>
            <p>Pais: @Model.Pais</p>
            <p>Ciudad: @Model.Ciudad</p>
            <p>Tipo Escuela: @Model.TipoEscuela</p>
        </address>
    </dl>
</div>